<div class="step"><a class="anchor" name="size-and-space"></a>
    <h2><u>Step 3</u> Size and Space</h2>
    <div class="doc intro disp" data-key="size-and-space"></div>
    <div id="sel-size" class="sel">
        <p class="sel-title">Select Size</p>
        <table>
            <thead><tr>
                <th>Category</th>
                <th>Min. Size</th>
                <th>Size</th>
                <th>Max. Size</th>
            </tr></thead>
            <tbody>
            <tr>
                <th><label for="size-craft">Craft</label></th>
                <td>
                    10 (for TL 5 &amp; 6)<br/>
                    2 (for TL 7+)
                </td>
                <td><input id="size-craft" name="size" type="number" min="2" max="100" value="10"/></td>
                <td>100</td>
            </tr>
            <tr>
                <th><label for="size-ship">Ship</label></th>
                <td>10</td>
                <td><input id="size-ship" name="size" type="number" min="10" max="150" value="10"/></td>
                <td>150</td>
            </tr>
            <tr>
                <th><label for="size-capital-ship">Capital Ship</label></th>
                <td>20</td>
                <td><input id="size-capital-ship" name="size" type="number" min="20" max="250" value="20"/></td>
                <td>250</td>
            </tr>
            <tr>
                <th><label for="size-supership">Supership</label></th>
                <td>40</td>
                <td><input id="size-supership" name="size" type="number" min="40" max="300" value="40"/></td>
                <td>300</td>
            </tr>
            <tr>
                <th><label for="size-megaship">Megaship</label></th>
                <td>60</td>
                <td><input id="size-megaship" name="size" type="number" min="60" max="5000" value="60"/></td>
                <td>5,000</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="top" href="#top">back to top</a>
</div>